.messenger__button{
    position: fixed;
    z-index: 1000;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    transition: opacity .3s;
    &--link{
        background: #0078FF;
        height: 60px;
        width: 60px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &--icon{
        color:#ffffff;
        font-size: 38px;
    }
    &.show{
        opacity: 1;
    }
}